@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Agua Blanca Sur<br />
    El Progreso, Yoro<br />
    <abbr title="Phone">P:</abbr>
    504-97899015
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">macty21@gmail.com</a><br />
</address>