<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="local"/>
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=StackOverFlowdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <add name="remote" connectionString="Server=cbc513b2-e66c-45b7-8eb3-a44c0016288d.sqlserver.sequelizer.com;Database=dbcbc513b2e66c45b78eb3a44c0016288d;User ID=kagsyhdbhituvsgz;Password=4ckz3Kc4LoT73TYxid8QyyR2WiFck3DQ8UT6XeXV6ugREkjGBvNWRGFCtsLTeaRS;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>